<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paginantion-component</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        .row {
            text-align: center;
            padding: 15px 0;
        }
    </style>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <% if(Number(current_page) != 1)  {%>
                    <a href="/app/v1/getExamResult?page_no=1 %>"><button> &#x3c;&#x3c; </button></a>
                    <a href="/app/v1/getExamResult?page_no=<%= Number(current_page)-1 %>"><button> &#x3c; </button></a>
                <% }else{ %>
                    <a aria-disabled="true" href="/app/v1/getExamResult?page_no=1 %>"><button disabled> &#x3c;&#x3c; </button></a>
                    <a aria-disabled="true" href="/app/v1/getExamResult?page_no=<%= Number(current_page)-1 %>"> <button disabled> &#x3c; </button></a>
                <% } %>

                <span><%= current_page %></span>

                <% if(Number(current_page) != Number(pageEnd))  {%>
                    <a href="/app/v1/getExamResult?page_no=<%= Number(current_page)+1 %>"><button> &#x3e; </button></a>
                    <a href="/app/v1/getExamResult?page_no=<%= Number(pageEnd) %>"><button> &#x3e;&#x3e; </button></a>
                <% }else{ %>
                    <a aria-disabled="true" href="/app/v1/getExamResult?page_no=<%= Number(current_page)+1 %>"><button disabled> &#x3e; </button></a>
                    <a aria-disabled="true" href="/app/v1/getExamResult?page_no=<%= Number(pageEnd) %>"> <button disabled> &#x3e;&#x3e; </button></a>
                <% } %>
                
            </div>
        </div>
    </section>

</body>

</html>