<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student-info</title>
    <link rel="stylesheet" href="/css/task12.multipleSearch.css">
</head>

<body>
    <section>
        <div class="container" >

            <div class="row1">
                <h1>Jil Patel</h1>
                <h1>Student Info</h1>
                <%- include('../partials/task12.paginationComponent.ejs', {current_page: current_page, pageEnd: pageEnd, sql: sql}) %>
            </div>


            <div class="row2">
                <form action="/app/v1/getStudentInfo" method="post" id="frm">
                    <input type="text" name="id" id="id" placeholder="Enter student id here" value="<%= body.id %>" autofocus>
                    <input type="submit" value="Go" class="btn" >
                </form>


                <form action="/app/v1/getStudentInfo" method="post" id="frm1" style="display: none;">
                    <input type="text" name="first_name" id="first_name" placeholder="first_name"  value="<%= body.first_name %>">
                    <input type="text" name="last_name" id="last_name" placeholder="last_name"  value="<%= body.last_name %>">
                    <input type="text" name="city" id="city" placeholder="city" value="<%= body.city %>">
                    <input type="text" name="country" id="country" placeholder="country" value="<%= body.country %>">
                    <input type="date" name="dob" id="dob" value="<%= body.dob %>">
                    <input type="text" name="current_cgpa" id="current_cgpa" placeholder="example :- 5,10">
                    <label for="gender">gender</label>
                    <select name="gender" id="gender">
                        <option value="'male', 'female', 'Genderfluid', 'Bigender', 'Genderqueer', 'Agender', 'Polygender', 'Non-binary'">All</option>
                        <option value="'Male'">Male</option>
                        <option value="'Female'">Female</option>
                        <option value="'Genderfluid'">Genderfluid</option>
                        <option value="'Bigender'">Bigender</option>
                        <option value="'Genderqueer'">Genderqueer</option>
                        <option value="'Agender'">Agender</option>
                        <option value="'Polygender'">Polygender</option>
                        <option value="'Non-binary'">Non-binary</option>
                    </select>
                    <label for="operator">operator</label>
                    <select name="operator" id="operator" value="<%= body.operator %>">
                        <option value="and">and</option>
                        <!-- <option value="or">or</option> -->
                    </select>
                    <input type="submit" value="Go" class="btn" >
                </form>

                <span id="view" onclick="clickHandler()">view more...</span>
            </div>


            <div class="row3">
                <% if(data.length == 0) {%>
                    <p style="color: red;">data not found</p>
                <% } else { %>
                    <table>
                        <tr>
                            <th>id</th>
                            <th>first name</th>
                            <th>last name</th>
                            <th>email</th>
                            <th>gender</th>
                            <th>dob</th>
                            <th>city</th>
                            <th>country</th>
                            <th>current_cgpa</th>
                            <th>created_at</th>
                        </tr>
                        <% data.forEach(singleStudentData=> { %>
                            <tr>
                                <td>
                                    <%= singleStudentData.s_id %>
                                </td>
                                <td>
                                    <%= singleStudentData.first_name %>
                                </td>
                                <td>
                                    <%= singleStudentData.last_name %>
                                </td>
                                <td>
                                    <%= singleStudentData.email %>
                                </td>
                                <td>
                                    <%= singleStudentData.gender %>
                                </td>
                                <td>
                                    <%= (singleStudentData.dob).toDateString() %>
                                </td>
                                <td>
                                    <%= singleStudentData.city %>
                                </td>
                                <td>
                                    <%= singleStudentData.country %>
                                </td>
                                <td>
                                    <%= singleStudentData.current_cgpa %>
                                </td>
                                <td>
                                    <%= (singleStudentData.created_at).toLocaleString() %>
                                </td>
                            </tr>
                            <% }) %>
                    </table>
                <% } %>
                
            </div>
        </div>
    </section>

</body>
<!-- it makes form1 remain constant after pressing go -->
<% if( body.first_name != undefined ||  body.last_name != undefined || body.city != undefined || body.country != undefined ){ %>
    <script>
        document.getElementById('frm')[0].disabled = true;
        document.getElementById('frm')[1].disabled = true;
        document.getElementById('frm')[1].style.opacity = 0.5;

        document.getElementById('frm1').style.display = "inline";
        document.getElementById('view').innerHTML = "view less..."
    </script>
<% } %>

<script>
    // logic of view more and view less
    let option = 0;
    function clickHandler() {
        try {
            let first_form = Array.from(document.getElementById('frm'));
            let second_form = document.getElementById('frm1');
            if (option == 0) {
                first_form.forEach(element => {
                    element.disabled = true;
                });
                first_form[1].style.opacity = 0.5;

                second_form.style.display = "inline";
                document.getElementById('view').innerHTML = "view less..."
                option = 1;
                second_form[0].focus();
            }else{
                first_form.forEach(element => {
                    element.disabled = false;
                });
                first_form[1].style.opacity = 1;

                second_form.style.display = "none";
                document.getElementById('view').innerHTML = "view more..."
                option = 0;
                first_form[0].focus(); 
            }
        } catch (error) {
            console.error(error);
        }
    }
</script>

</html>