<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error page</title>
</head>

<body>
    <p>success : <%= success %>
    </p>
    <p>message : <%= message %>
    </p>
    <p>error-code : <%= err.code %>
    </p>
    <p>error-no : <%= err.errno %>
    </p>
    <p>sql-message : <%= err.sqlMessage %>
    </p>
    <p>sql-state : <%= err.sqlState %>
    </p>
    <p>query : <%= err.sql %>
    </p>

    <script>
        setTimeout(function () {
            window.location.replace("http://localhost:3000/app/v1/getQueryForm");
        }, 3000);
    </script>
</body>

</html>